body {
    font-family: 'Shabnam';
    src: url('/font/shabnam-font-v1.1.0/Shabnam.ttf') format('ttf');
    margin: 0;
    font-family: shabnam;
    font-size: 1rem;
    font-weight: 400;
    font-family: irs;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.antialiased {
    font-family: 'Shabnam';
}

@font-face {
    font-family: 'Shabnam';
    src: url('/font/shabnam-font-v1.1.0/Shabnam.ttf') format('ttf'), url('/font/shabnam-font-v1.1.0/Shabnam.woff') format('woff'), url('/font/shabnam-font-v1.1.0/Shabnam.eot') format('eot');
}

@font-face {
    font-family: 'Asem';
    src: url('/public/font/fontasem');
}

.pishnahad-lahzaei .progress {
    position: absolute;
    top: 55px;
    height: 1px;
    width: 90%;
    margin-right: 10px;
    direction: ltr;
}

.pishnahad-lahzaei .progress .timeline {
    height: 5px;
    background: #e70808;
    width: 0;
}

.next,
.prev {
    font-size: 18px;
    position: absolute;
    top: 50%;
    z-index: 10;
    -webkit-box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
    box-shadow: 0 1px 2px 0 rgba(25, 25, 25, 0.2);
    cursor: pointer;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translateY(-50%);
    opacity: 0;
}

.prev {
    left: 0;
}

.pishnahad-lahzaei:hover .next {
    transition: transform 0.5s ease;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.pishnahad-lahzaei:hover .prev {
    transition: transform 0.5s ease;
    opacity: 1;
    transform: translate(50%, -50%);
}

.slides {
    width: 100%;
    /* line-height: 400px; */
    /* background: #e94e4e; */
    text-align: center;
    /* font-size: 100px; */
    /* color: white; */
    flex-shrink: 0;
    /*animation: fade-ani 1s;*/
    transition: all 200ms ease;
}


/* //رنگ پس زمینه بادی */

.bg-kol {
    background: #fff
}


/* //// هدر*/

.gt {
    background: #f5f5f5;
}

header .headerr {
    max-width: 1676px;
    min-width: 1009px;
    margin: 0 auto;
}

.headerr {
    padding: 0px 14px;
    max-width: 1676px;
    display: -webkit-box;
    min-width: 1009px;
    margin: 0 auto;
}

.icon-user-st {
    font-size: 24px;
    margin-top: 8px;
    margin-left: 5px;
}

.headerr .header-right {
    width: 50%;
}

.headerr .header-right .logo {
    background-image: url('https://www.digikala.com/static/files/bc60cf05.svg');
    display: block;
    background-size: contain;
    width: 120px;
    height: 30px;
    margin-left: 10px;
    position: relative;
    right: 20px;
}

.headerr .header-right {
    display: flex;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headerr .header-left {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    margin-left: 3px;
}

.headerr .header-right .search-box {
    border: none;
    border-radius: 8px;
    background: #f0f0f1;
    outline: none;
    /* width: 70%; */
    padding: 14px 45px 14px 14px;
    height: 44px;
    margin-top: 10px;
}


/* ///////////// */

.box-user {
    width: 180px;
    margin-left: 30px;
    height: 46px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
    text-align: center;
    padding-top: 8px;
    border-radius: 6px;
    border: 1px solid gainsboro;
}

.box-left-user {
    display: flex;
    color: #535353;
    margin-left: 4px;
    justify-content: space-between;
}


/* .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
} */

.box-left-user:hover {
    text-decoration: none;
}

.meno {
    margin-top: 6px;
    -webkit-box-shadow: 0 2px 4px 0 hsl(0deg 0% 44% / 5%);
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 44% / 5%);
    box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
}

.meno-headerr li {
    display: inline-block;
    margin-right: 9px;
    margin-left: 8px;
}

.meno-headerr {
    /* display: flex; */
    list-style: none;
    margin-top: 17px;
    text-align: right
}

.icon-box-search {
    font-size: 20px;
    position: absolute;
    margin-right: 9.6%;
    color: #a1a3a8;
    margin-top: 12px;
}

@media(max-width:1300px) {
    .icon-box-search {
        margin-right: 12%;
    }
}

@media(max-width:1100px) {
    .icon-box-search {
        margin-right: 14%;
    }
}

@media(max-width:768px) {
    .icon-box-search {
        margin-right: 19%;
    }
}

@media(max-width:468px) {
    .icon-box-search {
        margin-right: 33%;
    }
}

@media(max-width:395px) {
    .icon-box-search {
        margin-right: 36%;
    }
}

@media(max-width:335px) {
    .icon-box-search {
        margin-right: 42%;
    }
}

.meno .place {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
    list-style: none;
    margin-left: 15px;
}

@media(max-width:1200px) {
    .meno-headerr {
        width: 994px;
    }
}

@media(max-width:1200px) {
    .header-left {
        display: none;
    }
}


/* ///////////slider */

ul {
    list-style: none;
}

.bg-slider {
    background: #f5f5f5;
    padding-bottom: 20px;
    margin-top: 90px;
}

.cont {
    margin-right: 4%;
    margin-left: 4%;
}

.image-banner img {
    max-width: 437px;
    max-height: 100%;
    margin-top: 15px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    border-radius: 16px;
}

@media(max-width:475px) {
    .image-banner img {
        width: 331px;
        height: 160px;
    }
}

@media(max-width:769px) {
    .image-banner img {
        width: 331px;
        height: 160px;
    }
}

@media(max-width:1100px) {
    .image-banner img {
        width: 331px;
        height: 160px;
    }
}

@media(max-width:475px) {
    .carousel-item img {
        /* width: 331px; */
        height: 330px;
    }
}

@media(max-width:769px) {
    .carousel-item img {
        /* width: 331px; */
        height: 330px;
    }
}

@media(max-width:769px) {
    .line-user::before {
        left: -190px;
    }
}

@media(max-width:1100px) {
    .carousel-item img {
        /* width: 331px; */
        height: 330px;
    }
}


/* @media(max-width:1100px) {
    .image-banner img {
        max-width: 100%;
        max-height: 100%; */


/* }
} */

.carousel-image {
    margin-top: 15px;
}

@media(min-width:1300px) {
    .carousel-item img {
        height: 451px;
    }
}

.carousel-item img {
    border-radius: 16px;
    /* height: 451px; */
}

.carousel-indicators.circleslide li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    /* background-color: #fff; */
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    /* opacity: .5; */
    transition: opacity .6s ease;
}

.carousel-indicators.circleslide li .active {
    opacity: 1;
    background-color: rgb(14, 231, 213)(0, 255, 157);
}

.carousel-indicators li {
    background-color: #f0f0f0;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: rgb(14, 231, 213)(0, 255, 157);
}

.line-user::before {
    background: #e0e0e2;
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    left: 60px;
    width: 1px;
    top: 25px;
}


/* /* ************  زیر منو دیجی پلاس */

.sum-meno {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .sum-meno {
    display: block;
}

.dropdown:hover .sum-menmo {
    display: block;
}

.sum-meno {
    width: 800px;
    height: 250px;
    background: white;
    margin-left: 30%;
    right: -480px;
    border-radius: 8px;
    margin-right: 30%;
}

.sum-menmo {
    width: 930px;
    display: none;
    position: absolute;
    z-index: 1;
    height: 490px;
    background: white;
    margin-left: 30%;
    right: -250px;
    border-radius: 8px;
    margin-right: 30%;
    /* margin: auto */
}

.drop-right {
    display: flex;
    float: right;
    /* margin-right: 3%; */
}

.drop-right img {
    margin-top: 12px;
}

.drop-right ul {
    list-style: none;
}

.drop-right ul li a {
    margin-right: 5px;
}

.drop-right ul {
    text-align: right;
}

.drop-left {
    display: flex;
    margin-top: 12px;
    float: left;
    margin-left: 3%;
}

.drop-left img {
    border-radius: 8px;
}

.logo-sub {
    text-align: right;
    margin-right: 15%;
}

.list-submeno li {
    margin-top: 10px;
    display: flex;
}

.timer-ghorekeshi {
    display: flex;
    justify-content: space-between;
}


/* زیر منو دیجی پلاس */

.img-digiplas img {
    width: 370px;
    /* height: 230px; */
}

.c-dp-header-submenu__head-subtitle {
    color: #62666d;
    font-size: 11px;
    font-size: .786rem;
    margin-right: 4%;
    line-height: 1.91;
    padding-right: 4px;
}

.c-dp-header-submenu__head-titlee {
    color: #030a16;
    line-height: 1.83;
    font-weight: 700;
    display: flex;
    padding-right: 4px;
}

.c-dp-header-submenu__head-title {
    margin-bottom: 4px;
    color: #030a16;
    font-size: 12px;
    font-size: .857rem;
    margin-top: 30px;
    margin-right: 4%;
    line-height: 1.83;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 4px;
}

.c-dp-header-submenu__head-title img {
    margin-left: 4px;
    margin-right: 4px;
    max-width: 58px;
}

.c-dp-header-submenu__head-titlew img {
    margin-left: 4px;
    margin-right: 4px;
    margin-right: -240px;
    /* max-width: 58px; */
}

.bord-ghore {
    margin-right: -40px;
    border-top: 1px solid;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sub-plas li {
    text-align: right;
}

.sub-plas {
    margin-right: -30px;
}


/* //زیر منو تخفیفات */

.droop-left {
    display: flex;
    margin-top: 12px;
    /* float: left; */
    margin-left: 3%;
}

.droop-left img {
    border-radius: 8px;
}

.logo-sub {
    text-align: right;
    margin-right: 15%;
}

.list-submeno li {
    margin-top: 10px;
}

.list-drop-left {
    margin-top: 8%;
    margin-left: 40px;
}

.list-drop-left li {
    text-align: right;
}

.img-off img {
    margin-top: 20px;
}

.list-drop-left li a {
    font-size: 12px;
}


/* //پیشنهاد شگفت انگیز سوپر مارکتی */

.spuermarket2 {
    background: #6bb927;
    height: 530px;
}

@media(max-width:1200px) {
    .spuermarket2 {
        width: 1024px;
    }
}

.owl-item.active {
    width: 246px;
}

.box-sh {
    width: 1100px;
    float: left;
    margin-right: 19%;
    margin-top: -33%;
}


/* @media(max-width:1100px) {
    .owl-prev span {
        margin-right: 90px;
    }
} */

@media(max-width:1150px) {
    .box-sh {
        overflow: hidden;
        margin-top: -46%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1195px) and (min-width: 1100px) {
    .box-sh {
        margin-top: -43%;
        overflow: hidden;
    }
}

@media screen and (max-width: 1335px) and (min-width: 1195px) {
    .box-sh {
        margin-top: -36%;
        overflow: hidden;
    }
}

.c-swiper-specials__title img {
    width: 170px;
    position: relative;
    margin-bottom: 100px;
}

.slide-super {
    margin-right: -130px;
}

@media(max-width:1203px) {
    .shegeft-img {
        margin-right: -25px;
    }
}

.item2 img {
    width: 170px;
    margin-left: 46px;
}

.slide-super {
    display: inline-flex;
}

.item2 {
    margin-left: 12px;
    width: 269px;
    height: 480px;
    background: #fff;
    margin-top: 30px;
    border-radius: 10px;
}

@media(max-width:1100px) {
    .item2 {
        width: 249px;
        margin-right: 90px;
    }
}

@media(max-width:1200px) {
    .item2 {
        width: 249px;
        margin-right: 90px;
    }
}

.text-supermark::before {
    background: url(../imagedigikala/66.svg) no-repeat 50% 50%;
    background-size: cover;
    margin-left: 8px;
}

.c-product-box__progress-bar {
    background-color: #e2e2e2;
    height: 4px;
    margin-left: 9px;
    margin-right: 9px;
    /* margin-top: 60px; */
    position: relative;
    top: 20px;
    border-radius: 100px;
}

.c-product-box__progress-bar-value {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff5b79), to(#fb3449));
    background-image: linear-gradient( 90deg, #ff5b79, #fb3449);
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
}

.precent-frosh {
    color: #fb3449;
}

.mm-l {
    margin-left: 12px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.mm-l span {
    /* color: #737373; */
    font-size: 12px;
}

.owl-carousel.owl-item img {
    width: 170px;
}

.item2 .moshahed-kol {
    width: 78px;
    height: 78px;
    position: relative;
    top: 40%;
    left: 20%;
    border-radius: 50%;
    border: 1px solid #0fabc6;
    padding: 12px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item2 .moshahed-kol i {
    color: #0fabc6;
    position: relative;
    top: 4px;
}

.moshahed-kol2 {
    position: relative;
    top: 50%;
    left: 40%;
}


/* .item2 .moshahed-kol::before {
    font-size: 32px;
    content: '\f061';
    font-size: 2.286rem;
    line-height: 32px;
    color: #0fabc6;
} */

.text-supermark {
    text-align: right;
    font-size: 12px;
    color: #4a5f73;
    margin-top: 78px;
    margin-right: 20px;
    margin-left: 10px;
}

.textsupermark {
    text-align: justify;
    margin-right: 20px;
}

.nki {
    width: 1080px;
    float: left;
    margin-right: 25%;
    margin-top: -39%;
}

.c-new-price__old-value {
    font-size: 14px;
    font-size: 1rem;
    padding-left: 12px;
    line-height: 24px;
    color: #ababab;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.shegeft-btn {
    padding: 9px 16px;
    position: relative;
    margin-bottom: -100px;
    font-size: 14px;
    font-size: 1rem;
    width: 160px;
    border-radius: 12px;
    line-height: 1.571;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border: 1px solid #fff;
    color: #fff;
}

.shegeft-btn a {
    color: #fff;
}

.shegeft-btn a:hover {
    color: white;
    text-decoration: none;
}

@media(max-width:1024px) {
    .gt {
        width: 1020px;
    }
}

.spuermarket {
    background: #ef394e;
    height: 530px;
}

.nki {
    margin-right: 170px;
}

.c-swiper-specials__title img {
    /* width: 100%; */
    /* max-height: calc(100% - 41px); */
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.shegeft-img {
    /* margin: 0 44px; */
    padding: 50px;
}

.mg-shgf-green {
    position: relative;
    top: 40px;
    /* margin-right: 40px; */
}


/* //پیشنهاد های لحظه ای */

.item-lahzei {
    display: block;
    width: 230px;
    margin: 0px 5px;
}

.item-lahzei img {
    width: 130px;
}

.owl-carousel .owl-item .item-lahzei img {
    display: block;
    width: 130px;
    margin-right: 12px;
}

.nj .item-lahzei:hover .to-sistem {
    position: relative;
    right: 10px;
}

.nj .item-lahzei:hover {
    border: 1px solid #f0f0f0;
    width: 205px;
    height: 335px;
    left: 24px;
    margin-right: 16px;
    /* right: 30px; */
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 17px 0 rgb(0 0 0 / 10%);
    z-index: 11;
}

.nj2 .item-lahzei:hover {
    border: 1px solid #f0f0f0;
    width: 205px;
    height: 335px;
    right: 4px;
    margin-right: 16px;
    /* right: 30px; */
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 17px 0 rgb(0 0 0 / 10%);
    z-index: 11;
}

.img-lahz-slide {
    margin-top: 22px;
    margin-right: 20px;
}

.mttt {
    margin-top: 30px;
}

@media(max-width:1100px) {
    .nj .item-lahzei:hover {
        border: 1px solid #f0f0f0;
        width: 190px;
        height: 335px;
        border-radius: 10px;
        box-shadow: 0 2px 17px 0 rgb(0 0 0 / 10%);
        z-index: 11;
    }
}

.container--home {
    max-width: 1366px;
}

.o-page {
    margin-top: 17px;
}

.o-page__row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.o-page__row--main-page {
    min-height: 400px;
    margin: 15px 0 0;
}

@media (max-width: 993px) {
    .box-prodout2 {
        width: 754px;
    }
}

.pishnahad-lahzaei {
    width: 221px;
    height: 346.6px;
    border-radius: 7px;
    background: #fff;
    float: left;
}

.pishnahad-lahzaei img {
    width: 180px;
    height: 180px;
}

.c-promo-single__headline {
    height: 57px;
    line-height: 56px;
    font-weight: 500;
    color: #6e6e6e;
    margin: 0 13px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.c-promo-single__headline::before {
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

.text-box-lahzeei {
    display: block;
    overflow: hidden;
    font-size: 12px;
    font-size: .857rem;
    line-height: 30px;
    text-align: right;
    line-height: 22px;
    margin-top: 13px;
    height: 43px;
}

.c-new-price__valuee {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 30px;
    color: #232933;
    font-weight: 700;
    width: 100%;
    margin-top: 0!important;
    -webkit-box-pack: end;
    /* margin-left: -79px; */
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.c-new-price__value {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 30px;
    color: #232933;
    font-weight: 700;
    left: -79px;
    width: 100%;
    margin-top: 0!important;
    -webkit-box-pack: end;
    position: relative;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.c-new-price__valuew {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 30px;
    color: #232933;
    font-weight: 700;
    /* left: -79px; */
    width: 100%;
    margin-top: 0!important;
    -webkit-box-pack: end;
    position: relative;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.imagee-laz {
    margin-top: 12px;
    position: relative;
}

.text-box-lahzeei span {
    margin-right: 13px;
}

.c-new-price__currency {
    margin-left: 13px;
}

.pishnahad-lahzaei {
    width: 221px;
    text-align: center;
    height: 100%;
    display: flex;
    margin-left: -30px;
    -webkit-box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 3%);
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 3%);
    border: 1px solid rgba(0, 191, 214, .3);
    border-radius: 8px;
    overflow: hidden;
}

.c-promo-single__headline {
    height: 57px;
    line-height: 56px;
    font-weight: 500;
    color: #6e6e6e;
    margin: 0 13px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c-promo-single__headline:before {
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

.c-promo-single__headline.is-active:after {
    -webkit-animation: bar-fill 7s cubic-bezier(.17, .67, .71, .99) infinite;
    animation: bar-fill 7s cubic-bezier(.17, .67, .71, .99) infinite;
}

.c-promo-single__headline:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(#ffd3db), to(#fb3449));
    background: linear-gradient( 90deg, #ffd3db, #fb3449);
    content: "";
}

.pishnahad-lahzaei img {
    width: 180px;
    height: 180px;
}

.c-promo-single__headline {
    height: 57px;
    line-height: 56px;
    font-weight: 500;
    color: #6e6e6e;
    margin: 0 13px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.c-promo-single__headline::before {
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

.price-value {
    float: left;
    font-size: 15px;
}

.text-box-lahzeei {
    display: block;
    overflow: hidden;
    font-size: 12px;
    color: #757575;
    font-size: .857rem;
    line-height: 30px;
    text-align: right;
    line-height: 22px;
    margin-top: 13px;
    height: 43px;
}


/* .c-new-price__value {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 30px;
    color: #232933;
    position: relative;
    font-weight: 700;
    width: 100%;
    margin-top: 0!important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    left: -39px;
} */

.text-box-lahzeei span {
    margin-right: 13px;
}

.c-new-price__currency {
    margin-left: 13px;
}

.box-prodout2 .pp {
    text-align: right;
}

.box-prodout2 {
    width: 1093.33px;
    height: 400px;
    border-radius: 8px;
    background: #fff;
    /* margin-left: -360px; */
}

@media(max-width:1100px) {
    .box-prodout2 {
        width: 725.5px;
        margin-right: -20px;
    }
}

.owl-carousel .owl-item .item img {
    display: block;
    width: 170px;
    margin-right: 32px;
}

@media (max-width: 1200px) {
    .pishnahad-lahzaei {
        margin-left: -16px;
    }
}

@media(max-width:993px) {
    .item {
        width: 168px;
    }
}

@media(max-width:993px) {
    .owl-carousel .owl-item .item img {
        width: 130px;
    }
}


/* *************2000 تا کالا */

.c-promotion__category i {
    color: #00bfd6;
    /* font-size: 34px; */
}

.c-promotion__categories-title {
    margin-bottom: 24px;
    font-size: 19px;
    font-size: 1.357rem;
    line-height: 1.158;
    opacity: .72;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
}

.c-box {
    width: 100%;
    background: #fff;
    height: 230px;
    margin-top: 50px;
    border-radius: 6px;
    position: relative;
}

.c-promotion__categories-container {
    padding: 24px;
    margin-top: 8px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.c-promotion__categories-container--home {
    margin: 20px 0;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.c-promotion__categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.c-promotion__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11.11111%;
    flex: 0 0 11.11111%;
    padding: 0 5px 24px;
    position: relative;
}

.c-promotion__category-name {
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    color: #2a2a2a;
    margin-top: 8px;
    text-align: center;
}

.c-promotion__category-quantity {
    color: #00bfd6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    margin-top: 15px;
}

.c-promotion__category:hover {
    text-decoration: none;
}

.c-promotion__category:before {
    font-size: 40px;
    color: #00bfd6;
}


/* // fourbox */

.four-box {
    background: #f5f5f5;
    padding-top: 45px;
    padding-bottom: 14px;
}

.banner2-item img {
    border-radius: 14px;
}

@media(max-width:767px) {
    .banner2-item img {
        margin-bottom: 12px;
    }
}

.containert {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width:1200px) {
    .containert {
        max-width: 1360px;
    }
}

@media(max-width:1100px) {
    .containert {
        max-width: 994px;
    }
}

@media (max-width: 993px) {
    .containert {
        width: 954px;
        margin-right: 30px;
    }
}


/* /* ***************  محصولات صفحه کلید */

.item {
    display: block;
    width: 230px;
    margin: 0px 5px;
}

.owl-next span {
    box-shadow: 1.5px 0 4px 0 rgb(0 0 0 / 15%);
    border-radius: 0 8px 8px 0;
    padding-top: 7px;
    padding-left: 9px;
    padding-bottom: 19px;
    font-size: 3rem;
    text-align: center;
    top: 40px;
    position: relative;
    padding-right: 22px;
}

.owl-prev .ow-pr-sh {
    right: 4px;
    opacity: 0.4;
    box-shadow: 1.5px 0 4px 0 rgb(0 0 0 / 15%);
    border-radius: 0 8px 8px 0;
    padding-top: 7px;
    padding-left: 9px;
    padding-bottom: 19px;
    font-size: 3rem;
    text-align: center;
    top: 40px;
    position: relative;
    padding-right: 22px;
}

.owl-prev span {
    right: 4px;
    opacity: 0.2;
    box-shadow: 1.5px 0 4px 0 rgb(0 0 0 / 15%);
    border-radius: 0 8px 8px 0;
    padding-top: 7px;
    padding-left: 9px;
    padding-bottom: 19px;
    font-size: 3rem;
    text-align: center;
    top: 40px;
    position: relative;
    padding-right: 22px;
}

.ed span {
    right: 4px;
    opacity: 0.4;
    box-shadow: 1.5px 0 4px 0 rgb(0 0 0 / 15%);
    border-radius: 0 8px 8px 0;
    padding-top: 7px;
    padding-left: 9px;
    padding-bottom: 19px;
    font-size: 3rem;
    text-align: center;
    top: 0px;
    position: relative;
    padding-right: 22px;
}

.img-naghdi-shgef {
    right: -9px;
    position: relative;
    top: 19px;
}


/* 
.item2.textsupermark::before {
    background: url('/image/7yc53fd0f.svg') no-repeat 50% 50%;
    background-size: cover;
    margin-left: 8px;
} */

.cadr-slaider-product {
    width: 100%;
    background: #fff;
    height: 370px;
    margin-top: 50px;
    border-radius: 6px;
}

.ccol {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.item img {
    width: 170px;
    height: 170px;
}

.text-prodouct {
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}

.owl-next {
    left: 0px;
    top: 90px;
    position: absolute;
}

.owl-prev {
    right: 0px;
    top: 90px;
    position: absolute;
}

.price2 {
    margin-top: 10px;
    margin-left: 40px;
}

.to-sistem {
    text-align: center;
    /* margin-top: 14px; */
    min-height: 50px;
    width: 210px;
    text-align: justify;
    /* margin-right: 20px; */
    font-size: 12px;
    font-size: .857rem;
    line-height: 25px;
    color: #535353;
}

.price {
    text-align: left;
    font-weight: bold;
}

.nj .item:hover {
    border: 1px solid #f0f0f0;
    width: 253px;
    height: 290px;
    position: relative;
    left: 10px;
    border-radius: 10px;
    /* box-shadow: 0 2px 17px 0 rgb(0 0 0 / 10%); */
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    z-index: 11;
}

.nj2 .item:hover {
    border: 1px solid #f0f0f0;
    width: 253px;
    height: 290px;
    position: relative;
    left: 7px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 17px 0 rgb(0 0 0 / 10%);
    z-index: 11;
}

.nj .item:hover .to-sistem {
    position: relative;
    right: 20px;
}

.nj2 .item:hover .to-sistem {
    position: relative;
    right: 20px;
}

.o-headline:after {
    position: absolute;
    bottom: 0;
    right: 4%px;
    left: 0;
    background-color: #dfdfdf;
    height: 1px;
    content: "";
    z-index: 10;
    width: 88%;
}

.o-headlinee:after {
    position: absolute;
    bottom: 0;
    right: 4%px;
    left: 0;
    background-color: #dfdfdf;
    height: 1px;
    content: "";
    z-index: 10;
    width: 98%;
}

.c-swiper__show-more {
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 1.89;
    font-weight: 700;
    color: #a8a8a8;
}

.c-swiper__show-more:hover {
    color: #1ca2bd;
    text-decoration: none;
}

.o-headline>span:before {
    content: "";
    position: absolute;
    right: 0;
    left: -40px;
    bottom: 0;
    background-color: #ef5661;
    height: 2px;
    width: 120px;
    z-index: 1;
}

.o-headlinew>span:before {
    content: "";
    position: absolute;
    right: 20px;
    left: -40px;
    bottom: 0;
    background-color: #ef5661;
    height: 2px;
    width: 120px;
    z-index: 1;
}

.o-headlinee {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    min-height: 49px;
    justify-content: space-between;
    margin: 0 0 6px 33px;
    position: relative;
    padding-left: 5px;
    display: flex;
}

.o-headlinew {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    min-height: 49px;
    justify-content: space-between;
    margin: 0 0 6px 33px;
    position: relative;
    padding-left: 5px;
    display: flex;
}

.o-headline {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    min-height: 49px;
    justify-content: space-between;
    margin: 0 0 6px 33px;
    position: relative;
    padding-left: 5px;
    display: flex;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    outline: none;
    padding: 0!important;
    font: inherit;
}


/* ///////////// */


/* //2 تا box */

.image-box img {
    width: 637px;
    height: 230px;
}

.image-box2 img {
    width: 637px;
    height: 230px;
}

.image-box {
    width: 50%;
    display: flex;
    display: -webkit-box;
    margin: 0px 12px;
}

.image-box2 {
    width: 40%;
}

.owl-carousel.owl-item .item2 img {
    width: 170px;
}

@media(max-width:1200px) {
    .image-box2 img {
        width: 487px;
        height: 230px;
    }
}

@media(max-width:900px) {
    .image-box2 img {
        width: 460px;
        height: 230px;
    }
}

@media(max-width:1200px) {
    .image-box img {
        width: 500px;
        height: 230px;
    }
}

@media(max-width:900px) {
    .image-box img {
        width: 500px;
        height: 230px;
    }
}


/* //  کوهنوردی محصولات */

.off-price {
    display: flex;
}

.badegg {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background: red;
}

.c-new-price__old-value del {
    /* display: block; */
    text-decoration: line-through;
}

.c-new-price__discount {
    font-size: 12px;
    font-size: .857rem;
    line-height: 20px;
    font-weight: 700;
    padding-top: 2px;
    background-color: #e6123d;
    color: #fff;
    border-radius: 16px;
    margin-right: 4px;
    width: 32px;
    text-align: center;
}

.image-tea {
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
}


/* //برند ویژه */

.box-slide {
    width: 100%;
    background: #fff;
    height: 298px;
    margin-top: 50px;
    border-radius: 6px;
}

.box-brand-img img {
    margin-top: 30px;
}

.line-slider {
    width: 98%;
    margin-left: 12px;
}


/* //footer */

.c-footer {
    padding: 90px 41px 0;
    margin-top: 50px;
    padding: 80px 10px 0;
    background: #eceff1;
    position: relative;
    line-height: 22px;
    overflow: hidden;
}

.c-footer__jumpup {
    font-size: 20px;
    font-size: 1.429rem;
    line-height: 1.1;
    color: #4a4a4a;
    position: absolute;
    height: 59px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #cfd8dc;
}

.c-footer__jumpup-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-footer__jumpup-container {
    cursor: pointer;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
}

.c-footer__jumpup-angle {
    width: 36px;
    height: 36px;
    background-color: hsla(0, 0%, 74.5%, .41);
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 4px;
    line-height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-footer__jumpup-angle:before {
    content: "\f106";
    font-family: FontAwesome;
    color: #fff;
    text-align: center;
    padding-right: 5px;
}

.c-footer__badge {
    display: inline-block;
    width: 16.3%;
}

.c-footer__badge:hover {
    text-decoration: none;
}

.c-footer__feature-item--1 {
    background: url("https://www.digikala.com/static/files/8f570b58.svg") 43% 8px no-repeat;
    background-size: auto 58px;
}

.c-footer__feature-item {
    text-align: center;
    position: relative;
    padding-top: 80px;
    font-size: 13px;
    font-size: .929rem;
    line-height: 1.692;
    color: #606060;
    letter-spacing: .2px;
    padding-bottom: 20px;
    margin: auto;
}

.c-footer__feature-item--3 {
    background: url("https://www.digikala.com/static/files/a9286d2f.svg") 50% 4px no-repeat;
    background-size: auto 58px;
}

.c-footer__feature-item--4 {
    background: url("https://www.digikala.com/static/files/22414818.svg") 50% 0 no-repeat;
    background-size: auto 58px;
}

.c-footer__feature-item--5 {
    background: url("https://www.digikala.com/static/files/514926b1.svg") 50% 5px no-repeat;
    background-size: auto 58px;
}

.c-footer__feature-item--6 {
    background: url("https://www.digikala.com/static/files/fdb293e6.svg") 50% 6px no-repeat;
    background-size: auto 58px;
}

.c-footer__middlebar {
    -ms-flex-wrap: nowrap;
    /* flex-wrap: nowrap; */
    display: flex;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-footer__links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 450px);
    flex: 0 0 calc(100% - 450px);
    padding: 0 10px;
}

@media(max-width:992px) {
    .c-footer {
        width: 1000px;
    }
}

@media(max-width:992px) {
    .c-footer__seo {
        display: none;
    }
}

@media(max-width:992px) {
    .image-photo {
        display: none;
    }
}

.c-footer__feature-innerbox,
.c-footer__middlebar {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.c-form-newsletter__title {
    color: #5d5959;
    letter-spacing: .3px;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    margin-bottom: 21px;
}

.c-ui-input__field,
.dk-selectric-input {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
}

.c-footer__links--col {
    width: 160px
}

@media(max-width:767px) {
    .c-footer__form {
        margin-right: -40%;
    }
}

.o-headline-links {
    margin-bottom: 22px;
}

.o-headline-links>div {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 22px;
    color: #4a5f73;
}

.c-footer__links-ul {
    letter-spacing: -.1px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.c-footer__form {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 333px;
}

.c-form-newsletter {
    margin: 0 0 35px;
}

.fieldset {
    min-width: 0;
    border: 0;
}

.c-footer .c-form-newsletter__title {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    font-weight: 400;
}

.c-footer .c-form-newsletter__row {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
}

.c-footer .c-form-newsletter input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.c-ui-input__field {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    padding: 11px 12px;
    width: 100%;
    letter-spacing: -.8px;
}

.c-footer .c-form-newsletter button {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    background-color: #00bfd6;
    border-radius: 8px 0 0 8px;
    text-align: center;
    width: 87px;
    border: none;
    padding: 11px 24px;
}

.c-footer__community {
    display: block;
    border-bottom: none;
    padding-bottom: 0;
}

.c-footer__social>span {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    letter-spacing: .3px;
    font-weight: 500;
}

.c-footer__social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 30px;
    margin-top: 19px;
}

.c-footer__social-links a {
    margin-left: 20px;
}

.c-footer__social-links i {
    font-size: 32px;
    color: #424750
}

.c-footer__social-links i:hover {
    color: #000103;
    opacity: 1;
}

.c-footer__social-link {
    display: block;
    width: 32px;
    height: 32px;
    opacity: .5;
}

.c-footer__social-link:before {
    font-size: 32px;
    color: #424750;
}

.c-footer__contact {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% - 470px);
    width: auto;
    margin-right: 8%;
}

.c-footer__contact li {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 36px;
    vertical-align: middle;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    direction: rtl;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.c-footer__address-images {
    text-align: center;
    white-space: nowrap;
    margin-bottom: 40px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 470px;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: auto;
}

.c-footer__more-info {
    background-color: #d7dee0;
    padding: 20px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 -10px;
}

.c-footer__safety-partner,
.t-index .c-footer__description-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.c-footer__partners {
    list-style: none;
    padding: 0;
    margin: 9px auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
}

.c-footer__partners li {
    text-align: center;
    margin-top: 15px;
    vertical-align: middle;
    width: calc(25% - 5px);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-footer__safety-partner {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 480px;
}

.c-footer__safety-partner li {
    margin-left: 8px;
    width: 150px;
    height: 140px;
    border-radius: 8px;
    background-color: #f0f0f0;
    border: 1px solid #e5e5ea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-footer__seo {
    margin-top: 25px;
}

.c-footer__seo h1 {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 1.375;
    text-align: right;
}

.c-footer__description-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.c-footer__seo p {
    font-size: 12px;
    font-size: .857rem;
    line-height: 2.17;
    font-weight: 300;
    letter-spacing: -.3px;
    color: #535353;
}

.c-footer__copyright {
    color: #757575;
    padding-left: 12px;
    padding-right: 12px;
}

.o-headline-links a {
    color: black;
}

.c-footer__links-ul li a {
    color: #4b4b4b;
    font-weight: 300;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    letter-spacing: -.1px;
    text-decoration: none;
}

.c-footer__copyright--text {
    color: #4a4a4a;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #b0bec5;
    font-size: 12px;
    padding-bottom: 15px;
}


/* // حساب کاربري */

.login__box {
    border-radius: 8px;
    border: 1px solid #ededed;
    padding: 30px;
    width: 380px;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -55%);
    transform: translate(50%, -55%);
}

@media(max-width:530px) {
    .login__box {
        width: 239px;
    }
}

.login__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* min-height: 376px; */
}

.c-login__header-logo {
    margin-bottom: 24px;
    text-align: center;
    position: relative;
}

.c-login__form-header {
    color: #232933;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 20px;
    font-size: 1.429rem;
    line-height: 50px;
}

.c-login__opt-mobile-message {
    font-size: 12px;
    font-size: .857rem;
    line-height: 21px;
    color: #62666d;
    margin-bottom: 16px;
}

.o-form__field {
    padding: 9px 12px;
    outline: none;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e0e0e2;
    font-size: 14px;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 23px;
    color: #030a16;
}

.o-btn--contained-red-lg {
    padding: 13px 16px;
    outline: none;
    direction: rtl;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.571;
    border-radius: 8px;
    font-weight: 700;
    background-color: #ef394e;
    color: #fff;
    border: 1px solid #ef394e;
}

.c-login__footer {
    text-align: center;
    color: #62666d;
    font-size: 10px;
    margin-top: 23px;
    font-size: .714rem;
    line-height: 25px;
}

.c-login__footer a {
    color: #030a16;
}

.menoadd {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    background: white;
    padding-bottom: 12px;
}

.mebg6 {
    display: none;
}

.add-tocard {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

.bg-red {
    background: #ef394e;
    width: 40px;
    color: white;
}


/* // price منتخب محصولات تخفیف و حراج*/

.c-product-box__price-row {
    width: 100%;
}

.c-product-box__fast-shopping {
    display: inline-block;
    float: right;
    margin-top: 6px;
}

.c-product-box__add-to-cart-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    z-index: 3;
}

.btn-add-to-cart-mini {
    font-size: 18px;
    font-size: 1.286rem;
    line-height: 1.222;
    width: 60px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #00bfd6;
    color: #fff;
    background-color: #ef394e;
    border: none;
}

.btn-add-to-cart-mini:not(.disabled):not(.is-inactive):not([disabled]) {
    overflow: hidden;
}

.c-product__add-substitute--item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.c-product-box__price-item {
    display: inline-block;
    float: left;
}

.btn-add-to-cart-mini:hover {
    text-decoration: none;
    color: white;
}

.js-product-url:hover {
    text-decoration: none;
}


/* ************ */

.vav {
    -webkit-box-shadow: 0 2px 4px 0 hsla(0, 0%, 44.3%, .05);
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 44.3%, .05);
    /* background-color: rgb(187, 17, 17); */
    position: absolute;
    -webkit-box-shadow: rgba(0, 0, 0, .04) 0 7px 8px 0;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, .04);
    width: 100%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    /* background-color: #fff; */
}

.nav .nav-level-1 {
    flex-grow: 1;
}

.nav-level-1-ul {
    display: flex;
    font-size: 13px;
}

.nav-level-1-li {
    line-height: 60px;
    text-align: center;
    z-index: 16;
}

.nav-level-1-li-1 {
    margin-left: 15px;
}

.nav-level-1 .nav-level-1-li .categoreis {
    padding: 0 8px;
    cursor: default;
    padding: 0 8px;
    cursor: default;
    align-items: center;
    display: flex;
}


/* .nav-level-1 .nav-level-1-li .categoreis::before {
    content: "\f0c9";
    font-size: 18px;
    margin-left: 6px;
    color: #424750;
} */

.nav-level-1 .nav-level-1-li .categoreis::after {
    content: "";
    height: 20px;
    bottom: 1px;
    position: relative;
    width: 1px;
    background: #f0f0f1;
    left: -22px;
}

.nav-level-1-li>a {
    color: #4a4a4a;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
}

.nav-hover {
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    transform: scalex(0);
    transition: .16s all 0.025s;
}

.nav-hover::before {
    content: '';
    background: #ff4374;
    height: 2px;
    transition: .16s all 0.025s;
    position: absolute;
    bottom: 0;
    right: 48px;
    left: 0;
}

.kala-menu {
    background: #fff;
}

.sub-menu-categoreis {
    position: absolute;
    width: 100%;
    /* background: #fff; */
    z-index: 179;
    /* background-color: #fff; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    /* max-width: 1430px; */
    padding: 0;
    display: none;
    top: 74%;
    height: 480px;
}

.sub-menu-right-list {
    background-color: #f7f7f7;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding: 8px 8px 8px 0;
    width: 20%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.sub-menu-right-list-a {
    padding: 12px 8px;
    color: #616161;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.933;
    font-weight: 500;
    text-decoration: none;
}

.sub-menu-right-list-a.active {
    background: #fff;
    color: #ff4374 !important;
}

.sub-menu-left-section {
    flex-grow: 1;
    padding: 12px;
    background: #fff;
    margin-left: 60px;
    width: 80%;
}

.section {
    display: none;
}

.sub-menu-left-sections .section {
    color: #000;
    background: #fff;
    font-size: 2rem;
    height: 100%;
    width: 100%;
}

.section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0 12px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.section-header a {
    font-size: 13px;
    line-height: 1.833;
    font-weight: 500;
    color: #424750;
    position: relative;
}

.sub-menu-right-list-a:before {
    font-size: 18px;
    line-height: 1;
    margin-left: 4px;
    font-weight: 400;
}

.section-header a::after {}

.nav-level-1-li:hover .sub-menu-categoreis {
    display: flex;
}

.d-none {
    display: none;
}

.sub-menu-categoreis-ull {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    max-height: 400px;
    align-content: flex-start;
    width: 100%;
}

.mr-not {
    margin-right: -40px;
}

.sub-menu-categoreis-ul {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 400px;
    align-content: flex-start;
    width: 100%;
}

.sub-menu-categoreis-li {
    height: 32px;
    text-align: right;
    width: 25%;
}

.sub-menu-categoreis-li-item a {
    color: #4d4d4d;
}

.sub-menu-categoreis-li-main a {
    color: #000;
    font-weight: 700;
}

.sub-menu-right-list-a:hover {
    text-decoration: none;
}

.section-header a:after {
    content: '\e027';
    font-size: 19px;
    line-height: 1.833;
    font-weight: 500;
    color: #424750;
    position: absolute;
    top: -3px;
}

.nav-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 7px 0 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
}

.send-location {
    color: #616161;
    padding-left: 3px;
}


/*sub menu 2*/

.sub2 {
    right: 141px;
    width: 800px;
    padding: 12px;
}

.sub-list-img {
    display: flex;
}

.sub2 .sub-menu-categoreis-ul li {
    width: 50%;
}

.sub3 {
    right: 24%;
    height: 230px;
    width: 700px;
    padding: 12px;
}

.sub4 {
    right: 27%;
    height: 230px;
    width: 700px;
    padding: 12px;
}

.sub-list-img {
    display: flex;
}

@media(max-width:1300px) {
    .hidemenuu,
    .nav-location {
        display: none;
    }
}

@media(max-width:769px) {
    .hidemenuu,
    .nav-location {
        display: none;
    }
}

@media(max-width:769px) {
    .sub-menu-categoreis-ul {
        width: 650px;
    }
}

@media(max-width:769px) {
    .sub-menu-right-list {
        width: 200px;
    }
}

@media(max-width:435px) {
    .hidemenuu,
    .hidemenuu1,
    .nav-location {
        display: none;
    }
}

@media(max-width:769px) {
    .icon-box-search {
        margin-right: 14%;
    }
}

@media(max-width:435px) {
    .icon-box-search {
        margin-right: 33%;
    }
}

@media(max-width:435px) {
    .sectin-munu-dast {
        display: none;
    }
}

@media(max-width:435px) {
    .sub-menu-right-list {
        width: 30%;
    }
}

.sw {
    box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
}

header .t-header-search {
    -webkit-transition: .3s cubic-bezier(.17, .67, .49, .93);
    transition: .3s cubic-bezier(.17, .67, .49, .93);
    width: 60%;
    /* background: blue; */
}

header .t-header-search .t-header-search-box {
    height: 100%;
    /* background: red; */
    position: relative;
}

.t-header-search-box::before {
    /* content: "\f002"; */
    /* font-family: fontasem; */
    content: url('/image/loupe\ \(1\).png');
    width: 10px;
    right: 60px;
    top: 64%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 52;
    color: #7b7b7b;
    font-size: 24px;
    /* display: -webkit-box; */
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header .t-header-search .t-header-search-box input {
    width: 100%;
    height: 100%;
    color: #474747;
    position: relative;
    right: 40px;
    font-weight: 300;
    font-size: .857rem;
    line-height: 1.833;
    z-index: 51;
    background-color: #f0f0f1;
    padding: 14px 45px 14px 10px;
    position: relative;
    font-family: irs;
    /* border: 1px solid #f0f0f1; */
}

header .t-header-search-lately {
    position: absolute;
    background: #fff;
    left: 60px;
    right: 0;
    top: 100%;
    text-align: right;
    width: 624px;
    left: 60px;
    height: 398px;
    right: 30px;
    z-index: 19;
    overflow: hidden;
    /* border-radius: 0 0 7px 7px; */
    top: 10px;
    -webkit-box-shadow: 0 3px 12px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 20%);
    left: 0;
    padding: 70px 12px 20px;
    transform-origin: top left;
    display: none;
}

@media(max-width:475px) {
    .nj .item:hover .to-sistem {
        right: 10px;
    }
}

@media(max-width:475px) {
    .nj .item:hover {
        width: 230px;
    }
}

@media(max-width:475px) {
    .nj2 .item:hover {
        width: 225px;
    }
}

@media(max-width:475px) {
    .nj2 .item:hover .to-sistem {
        right: 10px;
    }
}

@media(max-width:769px) {
    .nj .item:hover .to-sistem {
        right: 10px;
    }
}

@media(max-width:769px) {
    .nj .item:hover {
        width: 230px;
    }
}

@media(max-width:769px) {
    .nj2 .item:hover {
        width: 225px;
    }
}

@media(max-width:769px) {
    .nj2 .item:hover .to-sistem {
        right: 10px;
    }
}

header .t-header-search-lately a {
    border-radius: 13px;
    background-color: #eceff1;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;
    line-height: 26px;
    color: #4a4a4a;
    text-align: center;
    padding: 0 11px;
}

header .t-header-search-lately a:hover {
    text-decoration: none;
    color: #4a4a4a;
}

header .t-header-search-lately img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

.sub-menu-right-list-a::before {
    font-size: 18px;
    line-height: 1;
    margin-left: 4px;
    font-weight: 400;
}

.img-digi-nav {
    width: 200px;
    height: 200px;
    position: relative;
    left: 75%;
}

@media(max-width:1365px) {
    .mtyr {
        display: none;
    }
}

@media(max-width:430px) {
    .bbtt {
        display: none;
    }
}

.carousel-indicators {
    z-index: 1;
}

.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    bottom: -68%;
    padding-top: 140px;
    width: 100%;
    /* Full width */
    height: 1450px;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* .remodal-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
} */

.modal-content2 {
    background: #fff url(/image/5e9e8f8d.svg) top no-repeat;
    background-size: 100% auto;
    padding: 100px 25px 21px;
    overflow: visible!important;
    line-height: 22px;
    max-width: 820px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    right: 25%;
    /* margin-bottom: 10px; */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #2b2e38;
    bottom: 30px;
}

.closee {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.closee:hover,
.closee:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sdr {
    /* background-color: red;
    width: 830px;
    height: 200px; */
    overflow-y: hidden;
    overflow-x: hidden;
}

.c-remodal-fmcg__logo {
    position: absolute;
    top: -80px;
    height: 110px;
    right: 25px;
}

.c-remodal-fmcg__head-text {
    direction: rtl;
    text-align: right;
    font-size: 14px;
    font-size: 1rem;
    line-height: 21px;
    color: #424242;
}

.c-remodal-fmcg__head-text span {
    color: #8bc540;
}

.c-remodal-fmcg__question {
    font-size: 12px;
    font-size: .857rem;
    line-height: 19px;
    color: #757575;
    margin-top: 10px;
    text-align: right;
}

.c-remodal-fmcg__actions {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 15px;
}

.c-remodal-fmcg__button--reject {
    background-color: #7a7a7a;
    border: none;
    margin-right: 10px;
}

.c-remodal-fmcg__button {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
    display: block;
    width: 90px;
    height: 46px;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 46px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.c-remodal-fmcg__button:hover {
    color: #fff;
    text-decoration: none;
}

.c-remodal-fmcg__button--approve {
    background-color: #00bfd6;
    border-color: #41a7b4;
}

@media (max-width: 475px) {
    .coll-sm-4 {
        flex: 0 0 63.333333%;
        max-width: 63.333333%;
    }
}

@media (max-width: 475px) {
    .colll-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.colll-sm-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.coll-sm-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}